<%- include('partials/head') %>


    <%- include('partials/navbar') %>
    <h1 align="center">Juicy Bliss</h1>
        <br>
        <h5 align ="center">From Ultimate Bliss to Ultimate Freedom!</h5>
        <section class="gallery">
            <% for(let topic of topics) { %>                        
                    <div class="card">    
                        <img src="<%= topic.img %>" alt="<% topic.title %>">
                        <p><%= topic.title %> - <b><%=topic.author %></b></p>
                    </div>    
            <% } %>   
      </section>
    
<%- include('partials/footer') %>
